# Dependencies
node_modules/
.pnp
.pnp.js
venv/
.venv/

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Supabase local config
supabase/.temp/
supabase/.branch/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
